:root {
  --color-bg: hsl(225, 80%, 5%);
  --color-text: hsl(0, 0%, 90%);
  --delay-transition: 300ms;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.nav-layout {
  width: 100%;
  height: 200dvh;
}

/* .nav-layout .disco {
  height: 20dvh;
}

.nav-layout .disco .link {
  visibility: hidden;
} */

.disco {
  position: fixed;
  margin: 0;
  padding: 0;
  /* background-color: hsl(225, 80%, 10%); */
  background-color: hsl(225, 0%, 0%);
  aspect-ratio: 1/1;
  height: 90dvh;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  overflow: hidden;
}

.disco .link {
  width: 5dvh;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  opacity: 0.2;
  transition: transform var(--delay-transition), opacity var(--delay-transition);
  cursor: pointer;
}

.disco .link a span {
  transform-origin: 100% 50%;
  position: absolute;
  left: -50%;
  top: 35%;
  opacity: 0;
  transition: transform var(--delay-transition), opacity var(--delay-transition);
}

.disco .link:hover a span {
  opacity: 1;
  transform: translateX(-50%);
}

.disco .link a {
  width: 100%;
  color: var(--color-text);
  text-decoration: none;
}

.disco .link svg {
  transition: transform var(--delay-transition);
}

.disco .link:hover svg {
  transform: scale(1.1);
}

/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */

/* .nav-layout::before {
  content: "MENU";
  color: var(--color-text);
   font-weight: 700; 
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: end;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  padding-right: 0.5rem;
  left: -16%;
  top: 40%;
  width: 20dvh;
  height: 20dvh;
  background: rgb(0, 0, 0);
  z-index: 99;
} */
/* writing-mode: sideways-lr; */
/* text-orientation: sideways; */

/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
