:root {
  --color-bg: hsl(225, 80%, 5%);
  --color-text: hsl(0, 0%, 90%);
  --delay-transition: 300ms;
  --center-element: translate(-50%, -50%);
  --rotate: 0deg;
  --scale: 0.2;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.nav-layout {
  width: 100%;
  height: 200dvh;
}

.disco.closed .link,
.disco.closed .link:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease, visibility 0s linear 100ms;
}

.disco:not(.closed) {
  --scale: 1;
}

.disco:not(.closed)::before {
  transform: scale(0.3);
}

.disco {
  position: fixed;
  margin: 0;
  padding: 0;
  /* background-color: hsl(225, 80%, 10%); */
  background-color: hsl(225, 0%, 0%);
  aspect-ratio: 1/1;
  height: 90dvh;
  border-radius: 50%;
  top: 50%;
  list-style: none;
  overflow: hidden;

  transform: var(--center-element) rotate(var(--rotate)) scale(var(--scale));
  transition: transform 300ms;
}

.disco.closed:hover {
  transform: var(--center-element) scale(0.3);
}

.disco::before {
  content: "";
  display: block;
  z-index: 5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-100%);
  background: hsl(50, 100%, 40%);
  transition: transform 300ms;
  transform-box: viewport;
}

.disco.closed:hover::before {
  transform: translateX(0);
}

.disco .link {
  z-index: 100;
  width: 5dvh;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: var(--center-element);
  opacity: 0.2;
  transition: transform var(--delay-transition), opacity var(--delay-transition);
  cursor: pointer;
}

.disco .link:nth-child(1) {
  opacity: 1;
}

.disco .link a {
  width: 100%;
  color: var(--color-text);
  text-decoration: none;
}

.disco .link a span {
  position: absolute;
  text-align: right;
  writing-mode: horizontal-tb;
  font-size: 2.5dvh;
  transform-origin: 100% 50%;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform var(--delay-transition), opacity var(--delay-transition);
}

.disco .link:hover a span {
  opacity: 1;
  transform: translate(-100%, -50%);
}

.disco .link svg {
  width: 100%;
  height: 100%;
  transition: transform var(--delay-transition);
}

.disco .link:hover svg {
  transform: scale(1.1);
}

/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */

/* .nav-layout::before {
  content: "MENU";
  color: var(--color-text);
   font-weight: 700; 
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: end;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: fixed;
  padding-right: 0.5rem;
  left: -16%;
  top: 40%;
  width: 20dvh;
  height: 20dvh;
  background: rgb(0, 0, 0);
  z-index: 99;
} */
/* writing-mode: sideways-lr; */
/* text-orientation: sideways; */

/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
/* ###  EXPERIMENTAL ### */
